<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
<form action="/image" method="post" enctype="multipart/form-data">
    <label>Store Image</label><br><br>  
    <input type="file"  name="uploaded_image"  >
    <button type="submit">Upload</button>
</form>

</body>
</html>
</html>