<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<form action="/test" method="post" enctype="multipart/form-data">
    <label>Store Image</label><br><br>  
    <input type="file"  name="sampleFile">    
    <label for="lname">Last name:</label>
       <input type="text"  name="id">    
    <button type="submit">Upload</button>
</form>

</body>
</html>
</html>